@import './../../base';

.signIn--btn {
    margin-left: 20px;
    padding: 15px 25px;
    background-color: $darkBlue-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: .1s all linear;

    &:hover {
        background-color: $blue-color;
    }
}

.userProfile__icon {
    border: none;
    background-color: transparent;
    margin-left: 40px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 30px;
        color: $darkBlue-color;
    }
}

.userProfile-submenu {
    position: absolute;
    top: 73px;
    min-width: 280px;
    right: 30px;
    background-color: #fff;
    border: 1px solid #EAEAF0;
    border-radius: 0 0 8px 8px;
    z-index: 9999;

    .userProfile-item {
        padding: 15px 20px;
        cursor: pointer;

        .userProfile-item__link {
            color: $text-color-gray;
            width: 100%;
            display: block;
        }

        &:hover {
            background-color: $lightBlue-color;
        }

        &:last-child {
            border-top: 1px solid #EAEAF0;
        }
    }
}


@media screen and (max-width: 480px) {
        
    .signIn--btn {
        padding: 10px 15px;
    }
}