

.demo-carousel {
    width:calc( 100% - 310px);
    margin: 0 auto 80px;
}
.slider-image {
    height: 525px;
    max-width: 1300px;
    border-radius: 8px;
    width: 100%;
}

.slide {
    position: relative;

    h4 {
        position: absolute;
        top: 20px;  
        right: 30px;
        color: #fff;
        max-width: 150px;
        font-size: 25px;
    }
}


@media screen and (max-width: 1000px) {
    .demo-carousel {
        width: 90%;
        margin: 0 auto 80px;
        height: auto;
    }

    .slider-image {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .demo-carousel {
        width: 100%;
        height: auto;
        margin-bottom: 55px;

        .carousel-root {
            
            .carousel {
                max-height: 370px;
            }
        }
    }
    .slider-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}