

#cart {

    .container {

        padding: 30px 15px;

        .cart__title {
            font-size: 36px;
            line-height: 46px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        .cart__content {
            display: flex;
            align-items: flex-start;
        }
    }
}

.container {
    .cart__noItems {
        display: block;
        padding: 30px 0;
    }
}

.step-title {
    margin-bottom: 20px;
}