@import './../../../base';

.cart__totalPrice {
    padding: 20px;
    min-width: 420px;
    background-color: $lightBlue-color;
    border-radius: 8px;
    margin-left: 30px;

    @media screen and (max-width: 1110px) {
        min-width: 350px;
    }

    &-title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .row__left {
            color: $text-color-gray;
        }

        &.totals {
            padding-top: 30px;
            border-top: 1px solid #C8CACB;

            .row__left {
                color: $text-color-main;
                font-size: 24px;
            }

            .row__right {
                font-size: 28px;
                font-weight: 700;
            }
        }
    }

    .cart__submit {
        width: 100%;
        cursor: pointer;
        padding: 15px 0;
        background-color: $blue-color;
        border-radius: 4px;
        border:none;
        opacity: .8;
        font-weight: 500;
        color: #fff;
        transition: .2s all ease-in-out;

        &:hover {
            opacity: 1;
        }

        &.btn--disabled {
            cursor: default;
            background-color: $text-color-gray;

            &:hover {
                background-color: $text-color-gray;
            }
        }
    }
}