@import './../../../base';

.catalogSubmenu-overlay {
    background-color: $blue-color;
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: .1s opacity ease-in-out;

    &.active {
        opacity: 1;
        z-index: 999999999;
        
        .catalogSubmenu-content {
            transform: translateY(0);
        }
    }

    .catalogSubmenu-content {
        width: 95%;
        background-color: #fff;
        height: 95%;
        position: absolute;
        bottom: 0;
        border-radius: 8px 8px 0 0;
        padding: 30px 50px;
        transform: translateY(calc(100% + 64px));
        transition: .2s transform ease-in-out;

        .catalogSubmenu-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            &__title {
                font-size: 28px;
                line-height: 36px;
            }

            &__closeIcon {
                cursor: pointer;
                height: 24px;
                width: 24px;
            }
        }

        .catalogSubmenu-body {

            &__list {

                &__item {
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;

                    &--icon {
                        margin-right: 10px;
                        
                        svg {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .catalogSubmenu-overlay {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .catalogSubmenu-overlay {
        .catalogSubmenu-content {
            padding: 20px;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 350px) {
    .catalogSubmenu-overlay {
        height: calc(100% - 50px);
    }
}