@import './../../../base';


.shopping-cart__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    .shopping-cart__icon {
        width: 30px;
        height: 48px;
        margin-left: 10px;
    
        path {
            fill: $text-color-gray;
        }
    }
}


@media screen and (max-width: 768px) {
    .shopping-cart__btn {

        .shopping-cart__icon {
            height: 32px;
            width: 23px;
        }
    }
}

@media screen and (max-width: 480px) {
    .shopping-cart__btn {
        display: none;
    }
}