@import './../../../base';


.shopping-cart__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    .shopping-cart__icon {
        width: 30px;
        height: 48px;
        margin-left: 10px;
    
        path {
            fill: $text-color-gray;
        }
    }
}


@media screen and (max-width: 768px) {
    .shopping-cart__btn {

        .shopping-cart__icon {
            height: 32px;
            width: 23px;
        }
    }
}

@media screen and (max-width: 480px) {
    .shopping-cart__btn {
        display: none;
    }
}

.cart__nextStepButton {
    background: #4878A6;
    padding: 10px 0;
    min-width: 200px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.step-title {
    margin-bottom: 20px;
}