

@import './../../../base';

.wishList__icon {
    width: 30px;
    height: 48px;
    margin-left: 30px;

    path {
        fill: $text-color-gray;
    }
}


@media screen and (max-width: 768px) {
    .wishList__icon {
        height: 32px;
        width: 23px;
        margin-top: -4px;
    }
}