@import './../../../base';


.counter {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $darkBlue-color;
    border-radius: 64px;
    color: #fff;
    padding: 2px 6px;
    font-size: 10px;
    right: -10px;
    top: 3px;
}


@media screen and (max-width: 768px) {
    .counter {
        font-size: 8px;
        top: 0;
    }
}