

.filter {

    .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 20px;
        background-color: rgba(237, 242, 246, 1);
        cursor: pointer;
        border-radius: 4px;
    }
}