@import './../../../../base';

.form {
    display: flex;
    flex-direction: column;

    &-field__label {
        font-size: 16px;
        margin-bottom: 10px;
        color: #070C11;
    }

    &-field__input {
        border: 1px solid #EAEAF0;
        border-radius: 5px;
        padding: 10px 20px;
        color: $text-color-main;
        margin-bottom: 20px;

        &::placeholder {
            color: $text-color-gray;
        }
    }

    &-field__password {
        border: 1px solid #EAEAF0;
        margin-bottom: 20px;
        border-radius: 5px;
        position: relative;

        .form-field__input {
            border: none;
            width: 100%;
            padding-left: 35px;
            color: $text-color-main;
            margin-bottom: 0;
    
            &::placeholder {
                color: $text-color-gray;
            }
        }

        .form-field__password--lockIcon,
        .form-field__password--eyeIcon {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
         }

        .form-field__password--lockIcon {
            left: 10px;
            height: 18px;
            width: 18px;
            fill: $text-color-gray;
        }

        .form-field__password--eyeIcon {
            cursor: pointer;
            right: 10px;
            width: 20px;
            height: 20px;
        }
    }

    .form-button__signup {
        background-color: $darkBlue-color;
        width: 100%;
        min-height: 48px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        border: none;
        margin-bottom: 20px;
    }

    .form-link__login {
        text-align: center;
        color: $blue-color;
        font-size: 16px;
    }
}



@media screen and (max-width: 380px) {
    .form {

        &-field__password {

            .form-field__input {
                padding-left: 25px;
            }
            .form-field__password--lockIcon {
                height: 15px;
                width: 15px;
                left: 5px;
            }

            .form-field__password--eyeIcon {
                width: 17px;
                height: 17px;
            }
        }

        &-field__input {
            padding: 7px 10px;
            margin-bottom: 10px;
        }

        &-field__label  {
            font-size: 14px;
        }

        &-link__forgotPassword {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &-field__checkbox {
            margin-bottom: 15px;font-size: 14px;
        }

        .form-button__signin {
            min-height: 35px;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .form-link__login {
            font-size: 14px;
        }
    }
}