

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Exo 2', sans-serif;
    // background-color: #E5E5E5;
}

$text-color-main: #070C11;
$text-color-gray: #838688;
$darkBlue-color: #2A5275;
$blue-color: #4878A6;
$lightBlue-color: #EDF2F6;
$red-color:#F15152;

$main-border: 1px solid #EAEAF0;

input {
    outline: none;
    border: none;
}
button {
    background-color: transparent;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

%partial-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Toastify {
    .Toastify__toast-container--top-right {
        z-index: 99999999;
    }   
}

.form-error {
    font-size: 13px;
    color: red;
}

.page__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}



@media screen and (max-width: 768px) {
    .App {
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 350px) {
    .App {
        padding-bottom: 50px;
    }
}